.body-styling{
    background-image: url(https://img0.etsystatic.com/025/0/7777347/il_570xN.639196360_rct5.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.jumbo-styling {
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #bd3e43, rgb(41, 41, 222));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #bd3e43, rgb(41, 41, 222)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    color: black;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#panel-heading-top-style {
    background-color: #bd3e43;
    color: white;
}
#panel-heading-bottom-style {
    background-color: rgb(41, 41, 222);
    color: white;
}

